@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}
.ant-collapse-item:not(:first-child) {
  border-top: 1px solid #e5e8ed;
}
.custom-select .ant-select-selector {
  border-radius: 1px !important;
}
/* * {
  outline: 1px solid limegreen;
} */
